.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;

  }
  
  .full-width {
    width: 100%;
  }

  .login-button-container {
    width: 100%;
    text-align: center;
  }
  
  .title {
    font-weight: bold;
    font-size: 1.5rem;
    width:  100%;
    margin-bottom: 1rem;
  }